<%= content_tag :div, id: "like_#{user.id}" do %>
  <h4><%= user.likers(User).count %> likes</h4>

  <% if current_user %>
    <% unless current_user.likes?(user) %>
      <%= link_to '<i class="fa fa-thumbs-o-up fa-lg"></i> Like'.html_safe, likes_path(user), remote: true, class: 'tiny button radius', data: {disable_with: "<i class='fa fa-thumbs-o-up fa-lg'></i> <i class='fa fa-spinner fa-spin'></i>"} %>
    <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-thumbs-o-up fa-lg"></i> Like'.html_safe, signin_path, class: 'tiny button radius' %>
  <% end %>

<% end %>
