<%= content_tag :div, id: "like_#{user.id}" do %>
  <h4><%= user.likers(User).count %> likes</h4>

  <% if current_user %>
    <% unless current_user.likes?(user) %>
      <%= link_to '<i class="fa fa-thumbs-o-up fa-lg"></i> Like'.html_safe, remote: true, class: 'tiny button radius' %>
    <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-thumbs-o-up fa-lg"></i> Like'.html_safe, signin_path, class: 'tiny button radius' %>
  <% end %>

<% end %>
