<br>
<div class="panel radius">
<h4>About Us</h4>
<br>
<h5>We&rsquo;ve been in IT business for over five years. Here a overall description of our services.</h5>
<br>
<p><em>Mutalis</em> is the company behind the Dancer City Web App.</p>

<p><em>Mutalis</em> is a web solutions provider that combines premium hosting services, top notch reliability, high customer service standards, and best of all-- affordability !</p>

<p><em>Mutalis</em> provides web based products through the software as a service model (SaaS), Online Store, Web Site, Email Service, Domain Name Registration, Digital Certificates, and Web Design services for personal, small-medium enterprise businesses, and also non-profit organizations.</p>

<p>For more information about our web based products please visit our Web Site at: <%= link_to 'http://www.mutalis.com', 'http://www.mutalis.com', target: '_blank' %></p>
</div>
